{% extends "base.html" %}
{% block content %}

    <br>
    <div class="header">
      <img src="/static/green_logotype.png" alt="logo" />
      <h1>Netdata ML Plugin (experimental)</h1>
    </div>

    <form action="results" id="inputs">
        <label for="url">Netdata URL</label>
        <input type="url" name="url" value="" required size="125">
        <br><br>
        <label for="config">Job Config:</label>
        <br><br>
        <textarea rows="6" cols="100" name="config" form="inputs">
{
  "method": "ks",
  "return_type": "html"
}</textarea>
        <br><br>
        <input type="submit" value="Run" >
    </form>

{% endblock %}
