{% extends "base.html" %}
{% block content %}

    <br>
    <div class="header">
      <img src="/static/green_logotype.png" alt="logo" />
      <h1>Netdata ML Plugin (experimental)</h1>
    </div>

    <form action="results" id="inputs">
        <label for="url">Netdata URL</label>
        <input type="url" name="url" value="" required>
        <br><br>
        <label for="method">Method:</label>
        <select id="method" name="method" form="inputs">
            <option value="ks">ks</option>
        </select>
        <br><br>
        <label for="format">Response Format:</label>
        <select id="format" name="format" form="inputs">
            <option value="ks">ks</option>
        </select>
        <br><br>
        <input type="submit" value="Run" >
    </form>

{% endblock %}
